@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #f8f8f8;
  font-family: "Roboto", sans-serif;
}

main {
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.04);
  border-radius: 12px;
  padding: 20px;
  margin: 22px auto;
  min-height: calc(100vh - 242px);
  max-width: 880px;
  width: 90vw;
}

.button {
  background: linear-gradient(
    90deg,
    rgba(241, 105, 82, 0.9) 0%,
    rgba(209, 73, 229, 0.9) 100%
  );
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 1.1px;
  padding: 9px 26px;
  transition: all 0.22s ease-in-out;
}

.button:hover {
  background: linear-gradient(
    270deg,
    rgba(241, 105, 82, 0.95) 0%,
    rgba(209, 73, 229, 0.95) 100%
  );
  opacity: 0.85;
}

.button:active {
  opacity: 0.7;
}

.button:disabled {
  background: rgba(0, 0, 0, 0.2) !important;
  cursor: default;
}

.button:disabled:hover {
  opacity: 1;
}
