.home {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 64px;
  padding: 40px;
}

.home img {
  width: 65%;
  margin-right: -12px;
}

.detail {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 22px;
}

.detail > h1 {
  color: #262626;
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 0.5px;
}

.detail > p {
  color: #9d9d9d;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.3px;
  text-align: center;
  margin: 18px 0 34px;
}

.button {
  padding: 10px 24px 10px 26px;
  font-size: 16px;
  letter-spacing: 0.9px;
}

.button span {
  font-size: 18px;
  padding-left: 3px;
}

.auth {
  align-items: center;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.auth p {
  color: #bfbfbf;
  font-size: 13px;
  letter-spacing: 1.5px;
}

.join {
  border-radius: 12px;
  border: 1px solid #ebebeb;
  background-color: #f9f9f9;
  padding: 11px 24px;
}

.join input,
.join button {
  background-color: transparent;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  outline: none;
}

.join input {
  color: #4d4d4d;
  padding-right: 8px;
  width: 220px;
}

.join input::placeholder {
  color: #c6c6c6;
}

.join button {
  cursor: pointer;
  color: #4ba9ff;
  font-weight: 500;
  padding: 2px 4px;
}

.join button:hover {
  opacity: 0.7;
}

.join button:active {
  opacity: 0.5;
}

.image {
  width: 60% !important;
}

@media only screen and (max-width: 880px) {
  .detail {
    margin-top: 18px;
  }

  .home img {
    width: 70% !important;
  }

  .detail > h1 {
    font-weight: 600;
    font-size: 28px;
  }

  .detail > p {
    font-size: 22px;
  }
}

@media only screen and (max-width: 740px) {
  .detail {
    margin-top: 12px;
  }

  .detail > h1 {
    font-size: 26px;
  }

  .detail > p {
    font-size: 20px;
  }
}

@media only screen and (max-width: 640px) {
  .home img {
    width: 80% !important;
  }

  .detail {
    margin-top: 8px;
  }

  .detail > h1 {
    font-size: 22px;
  }

  .button {
    padding: 8px 22px 8px 24px;
    font-size: 14px;
    letter-spacing: 0.4px;
  }

  .auth p {
    font-size: 12px;
    letter-spacing: 1.2px;
  }

  .join {
    padding: 9px 24px;
  }

  .join input,
  .join button {
    font-size: 14px;
  }

  .join input {
    width: 200px;
  }
}

@media only screen and (max-width: 560px) {
  .home img {
    width: 80% !important;
  }

  .detail {
    margin-top: 8px;
  }

  .detail > h1 {
    font-size: 24px;
    text-align: center;
    width: 250px;
  }

  .detail > p {
    font-size: 18px;
  }
}

@media only screen and (max-width: 460px) {
  .home img {
    width: 90% !important;
  }

  .detail > p {
    line-height: 22px;
    width: 228px;
  }

  .join {
    padding: 9px 20px;
  }

  .join input {
    width: 82%;
  }
}

@media only screen and (max-width: 400px) {
  .home img {
    width: 100% !important;
  }
}
