.home {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 64px;
  padding: 40px;
}

.home img {
  width: 65%;
  margin-right: -12px;
}

.detail {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 22px;
}

.detail h1 {
  color: #262626;
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 0.5px;
}

.detail p {
  color: #9d9d9d;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.3px;
  text-align: center;
  margin: 18px 0 34px;
}

.detail button {
  padding: 10px 24px 10px 26px;
  font-size: 16px;
  letter-spacing: 0.9px;
}

.detail button span {
  font-size: 18px;
  padding-left: 3px;
}
