.nav {
  align-items: center;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.05);
  display: flex;
  height: 62px;
  justify-content: space-between;
  padding: 0 40px;
  margin: auto;
  margin-top: 28px;
  max-width: 880px;
  width: 90vw;
}

.nav img {
  height: 70%;
}
